<html>

<head>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="/static/js/auth.js"></script>
</head>

<body style="width:100%;height:100%">
<div style="width:100%;height:100%;margin:0 0 10px 0;text-align: center;">
    <div style="font-size:20px;font-weight:bold;
                margin:0;background: rgb(195, 228, 250);height:32px;">
        文件云盘首页
    </div>
    <table style="height:100%;width:100%;text-align: left;border-width: 2px; border-color: lightslategrey;">
        <tbody>
        <tr style="margin-bottom: 20px;">
            <td style="width:20%;height: 100%;background: lightsteelblue;">
                <div style="text-align: top;height:20%;margin: 10px 0 0 10px;">
                    <img style="width:80px;height:80px;" src="/static/img/mirabit.jpg"></img><br>
                    用户名: <p id="username" style="color: seagreen"></p>
                    注册时间: <p id="regtime" style="color: seagreen"></p>
                </div>
                <div style="height: 80%;"></div>
            </td>
            <td style="width: 3px;height:100%;">
                <div style="width:100%;height: 100%;background:rgb(202, 157, 248);"></div>
            </td>
            <td style="text-align: top;">
                <div>文件列表
                    <button class="btn btn-success" onclick="toUploadFile()" style="float: right;margin-right: 30px;">上传文件
                    </button>
                    <div style="width:100%;height: 1px;background:rgb(202, 157, 248);margin-top: 15px;"></div>
                </div>
                <div style="height:95%;" style="width:100%;">
                    <table id="filetbl" style="margin-left:3%;width:96%;">
                        <thead style="height:50px;border:1px;">
                        <tr style="height:50px;border:1px;">
                            <th>文件hash</th>
                            <th>文件名</th>
                            <th>文件大小</th>
                            <th>上传时间</th>
                            <th>最近更新</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

<script lang="javascript">
    window.onload = function () {
        var username = document.getElementById('username');
        $.ajax({
            url: "/user/info?" + queryParams(),
            type: "POST",
            error: function (jqXHR, textStatus, errorThrown) {
                if (textStatus == "error") {
                    alert(textStatus + " : " + errorThrown);
                } else {
                    alert(textStatus);
                }
            },
            success: function (body, textStatus, jqXHR) {
                if (body.code !== 0) {
                    alert(body.msg);
                } else {
                    document.getElementById("username").innerHTML = body.data.user_name;
                    document.getElementById("regtime").innerHTML = body.data.signup_at;
                    updateFileList();
                }
            }
        });
    }

    function updateFileList() {
        $.ajax({
            url: "/user_file/query?" + queryParams(),
            type: "POST",
            data: {
                limit: 15
            },
            error: function (jqXHR, textStatus, errorThrown) {
                if (textStatus == "error") {
                    alert(textStatus + " : " + errorThrown);
                } else {
                    alert(textStatus);
                }
            },
            success: function (body, textStatus, jqXHR) {
                if (!body) {
                    return;
                }
                var data = body;
                if (!data || data.length <= 0) {
                    return;
                }

                for (var i = 0; i < data.length; i++) {
                    var x = document.getElementById('filetbl').insertRow();
                    var cell = x.insertCell();
                    cell.innerHTML = data[i].file_sha1.substr(0, 20)+"...";

                    cell = x.insertCell();
                    cell.innerHTML = data[i].file_name;

                    cell = x.insertCell();
                    cell.innerHTML = data[i].file_size;

                    cell = x.insertCell();
                    cell.innerHTML = data[i].upload_at;

                    cell = x.insertCell();
                    cell.innerHTML = data[i].last_updated;

                    cell = x.insertCell();
                    const downloadUrl = '/file/download?sha1=' + data[i].file_sha1 + '&' + queryParams();
                    const fileName = data[i].file_name;
                    cell.innerHTML = '<button class="btn btn-success" style="height:30px;margin:5px 0;" onClick="downloadFile(\'' + downloadUrl + '\', \'' + fileName + '\')">下载</button>';

                }
            }
        });
    }

    function toUploadFile() {
        $.ajax({
            url: "/get/upload/entry?" + queryParams(),
            type: 'GET',
            success: function (data, textStatus, jqXHR) {
                console.log(data)
                window.location.href = "http://" + data.entry + '/file/upload?' + queryParams();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + " : " + errorThrown);
            }
        });
    }

    function downloadFile(durl, fileName) {
        $.ajax({
            url: durl,
            type: "POST",
            xhrFields: {
                responseType: 'text'  // text
            },
            success: function (data, textStatus, jqXHR) {
                const contentType = jqXHR.getResponseHeader('Content-Type');
                try {
                    if (contentType.includes('text/plain')) {
                        try {
                            alert("文件即将下载自: " + data);
                            var elemIF = document.createElement("iframe");
                            elemIF.src = data;
                            elemIF.style.display = "none";
                            elemIF.name=fileName;
                            document.body.appendChild(elemIF);
                        } catch (e) {
                            alert(e);
                        }

                    } else if (contentType.includes('application/octet-stream')) {
                        // 处理二进制文件下载
                        const blob = new Blob([data], { type: contentType });
                        const url = window.URL.createObjectURL(blob);
                        const link = document.createElement('a');
                        link.href = url;
                        link.download = fileName;
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                        window.URL.revokeObjectURL(url);
                        alert("文件下载成功: " + fileName);
                    } else {
                        alert("未知的返回内容类型: " + contentType);
                    }
                } catch (e) {
                    alert("处理响应时出错: " + e);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + " : " + errorThrown);
            }
        });
    }



</script>

</html>